@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; }

/*--------------FIXED WHATSAPP ICON---------------*/
.fa-whatsapp {
  position: fixed;
  right: 3%;
  bottom: 3%;
  color: #ee8021 !important; }

.fa-whatsapp:hover {
  color: #fff !important;
  background-color: #4eb349;
  padding: 5px; }

/*----------SUBPAGE TITLES-----------*/
.subpage-title {
  padding: 70px 0;
  font-size: 3rem;
  color: #04a498; }

.header {
  display: flex;
  background-color: #f6f8f7;
  z-index: 0; }
  .header__logo {
    width: 15%;
    margin-left: 5%;
    position: absolute;
    z-index: 2; }
  .header__menu {
    background-color: #f6f8f7;
    width: 100%;
    padding: 50px 0;
    margin-left: 40%; }

.menu__list {
  display: flex;
  justify-content: space-around;
  list-style: none; }

.menu__item {
  color: #ee8021;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  list-style: none; }
  .menu__item:hover {
    color: #04a498; }

.submenu {
  position: absolute;
  display: none;
  width: 200px;
  background-color: #ee8021;
  color: #fff;
  padding: 10px;
  text-align: center;
  line-height: 25px;
  border-radius: 50px 0 50px 0;
  text-decoration: none;
  margin-left: -35px;
  z-index: 200; }
  .submenu__item {
    display: block;
    border-top: 1px solid #fff;
    padding: 7px 0; }
    .submenu__item--border {
      border: none; }
    .submenu__item--link {
      text-decoration: none;
      color: #fff; }
      .submenu__item--link:hover {
        text-decoration: none;
        color: #04a498;
        font-weight: 700; }

.menu--active {
  color: #04a498; }

ul li:hover ul {
  display: block; }

/*------HAMBURGER MENU-----------*/
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(238, 128, 33, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navbar-light .navbar-toggler {
  border: none; }

.navbar-toggler {
  font-size: 32px; }
  .navbar-toggler:active {
    border: none; }

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.active {
  color: #04a498;
  font-size: 1rem; }

.navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link.active:active {
  color: #ee8021;
  font-size: 1rem; }

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active:hover {
  color: #ee8021; }

.dropdown-menu {
  border: none;
  background-color: transparent; }

.dropdown-item {
  color: #04a498;
  font-size: 1rem;
  align-items: left; }
  .dropdown-item:hover {
    background-color: transparent;
    color: #ee8021;
    font-weight: 500; }

.hamburgerContacto {
  color: #ee8021 !important; }
  .hamburgerContacto:hover {
    color: #04a498 !important; }

.navbar-toggler:focus {
  box-shadow: none; }

/*------HAMBURGER MENU FIN-----------*/
.footer {
  padding: 50px 10%;
  background-color: #f6f8f7;
  border-top: 2px solid #04a498;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 25px;
  margin: 0 auto; }
  .footer__logo {
    width: 60%;
    margin-left: 10%;
    justify-self: center; }
  .footer__list {
    text-align: center;
    line-height: 1.5em;
    list-style: none; }
  .footer__item {
    padding: 15px 0; }
  .footer__link {
    text-decoration: none;
    color: #04a498;
    font-size: 1.3em; }
    .footer__link:hover {
      color: #ee8021; }

.contact-button--footer {
  margin: 20px !important;
  text-align: center;
  font-size: 1.3em; }

.social-media {
  text-align: center; }
  .social-media__text {
    margin-bottom: 10px; }
  .social-media__links {
    margin: 15px; }

.icon--instagram {
  color: #ee8021;
  font-size: 60px;
  text-align: center; }
  .icon--instagram:hover {
    transform: scale(1.1, 1.1); }

.icon--facebook {
  color: #04a498;
  font-size: 60px;
  text-align: center; }
  .icon--facebook:hover {
    transform: scale(1.1, 1.1); }

.icon--youtube {
  color: #4eb349;
  font-size: 60px;
  text-align: center; }
  .icon--youtube:hover {
    transform: scale(1.1, 1.1); }

.btn-general {
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 50px 0 50px 0;
  border: none;
  font-size: 1.2rem; }

.btn-general:hover {
  box-shadow: 5px 5px #ee8021;
  color: #fff !important;
  background-color: #04a498;
  box-shadow: 5px 5px #ee8021; }

.btn--acc {
  background-color: #ee8021; }

.btn--color2 {
  background-color: #4eb349; }

.btn--larger {
  font-size: larger;
  font-weight: 600;
  padding: 15px 50px; }

.btn-send, .btn-clear {
  height: auto !important;
  width: auto !important; }

.hero__text--hidden {
  display: none; }

h1, h2 {
  color: #04a498;
  text-align: center;
  padding-top: 30px;
  font-size: 2rem;
  font-weight: 600; }

h3 {
  color: #ee8021; }

h4 {
  color: #4eb349; }

p {
  font-size: 1.1rem;
  line-height: 2rem; }

/*--------------HERO SECTION---------------*/
.hero {
  display: flex;
  background-color: #fff !important;
  z-index: 1; }
  .hero__image {
    width: 50%;
    transform: scaleX(-1); }
  .hero__text {
    margin: auto; }
    .hero__text--orange {
      color: #ee8021;
      padding: 50px 0;
      font-weight: 900;
      font-size: 3rem;
      line-height: 5rem; }
    .hero__text--green {
      color: #04a498; }

/*--------------SECCIÓN ACERCA DE NOSOTROS---------------*/
.quienes-somos {
  margin-top: 30px;
  justify-content: space-evenly;
  align-content: center; }
  .quienes-somos__flex {
    margin: 50px 0;
    display: flex; }
    .quienes-somos__flex p {
      padding: 0 15%; }

.foto-grupal {
  margin: auto; }
  .foto-grupal__img {
    width: 70%; }

/*--------------SECCIÓN MISIÓN Y VISIÓN---------------*/
.mision-vision {
  text-align: center;
  background-color: rgba(78, 179, 73, 0.3);
  padding: 0 10% 40px 10%; }
  .mision-vision__h3 {
    padding: 20px 0 10px 0; }
  .mision-vision__lista {
    font-style: italic;
    padding-top: 15px; }
    .mision-vision__lista li {
      margin: 15px 0;
      list-style: none;
      text-align: center; }

/*--------------SECCIÓN NUESTROS VALORES---------------*/
.valores {
  text-align: center; }
  .valores__container {
    width: 80%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }

.tarjeta__img {
  width: 70%; }

.tarjeta__h3 {
  margin: 15px 0;
  font-size: 1.5em; }

.tarjeta__text {
  padding: 0 10%; }

/*--------------SECCIÓN ACTIVIDADES---------------*/
.actividades--parallax {
  min-height: 600px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/church-banner.jpeg");
  display: grid;
  justify-content: center; }

.actividades__tarjeta {
  background-color: rgba(254, 254, 254, 0.8);
  display: inline-block;
  padding: 5px 15px;
  align-self: center; }

.tabla {
  margin: 50px auto;
  border: 1px solid #04a498; }
  .tabla__encabezados {
    color: #4eb349; }
  .tabla__item {
    padding: 7px 20px;
    border: 1px solid #04a498; }

.actividades-phone {
  background-color: rgba(78, 179, 73, 0.3);
  padding-bottom: 30px; }
  .actividades-phone--grid {
    margin: 50px 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 50px;
    text-align: center; }
    .actividades-phone--grid h3 {
      color: #ee8021; }

/*--------------VIDEO DESTACADO---------------*/
.video-destacado__contenedor {
  width: 80%;
  margin: 150px auto;
  display: flex; }
  .video-destacado__contenedor iframe {
    margin: auto;
    width: 560px;
    height: 315px; }

.video-destacado__button {
  margin: auto; }

/*--------------FORMULARIO DE CONTACTO---------------*/
.contacto {
  padding-bottom: 50px; }
  .contacto__subtitulo {
    text-align: center;
    padding: 10px 0 30px 0; }
  .contacto__form {
    margin: auto;
    width: 50%; }
    .contacto__form--grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 10px;
      grid-row-gap: 15px;
      margin-bottom: 30px;
      max-width: 80%; }

/*--------------FIXED WHATSAPP ICON---------------*/
.whatsapp-icon {
  position: fixed;
  right: 3%;
  bottom: 3%;
  color: #ee8021 !important;
  font-size: 4rem; }
  .whatsapp-icon:hover {
    color: #fff !important;
    background-color: #4eb349;
    padding: 5px; }

.grilla-videos {
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr;
  row-gap: 70px;
  margin-bottom: 150px;
  justify-content: center; }
  .grilla-videos__caja {
    display: flex;
    flex-direction: column;
    align-items: center; }

.caja__video {
  justify-self: center; }

.descripcion__caja {
  text-align: center;
  margin: 0 auto; }

.descripcion__nombre {
  color: #ee8021;
  font-size: 1.2rem; }

.descripcion__fecha {
  color: #4eb349;
  font-size: 1rem;
  margin-top: 5px; }

.seccion1 {
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "parrafo1 foto" "parrafo2 foto";
  row-gap: 5%; }
  .seccion1__parrafo1 {
    grid-area: parrafo1; }
  .seccion1__parrafo2 {
    grid-area: parrafo2; }
  .seccion1__img {
    width: 80%;
    grid-area: foto;
    margin: auto; }

.seccion2 {
  margin: 100px 0;
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "foto parrafo1" "foto parrafo2" "foto parrafo3";
  row-gap: 5%; }
  .seccion2__parrafo1 {
    grid-area: parrafo1; }
  .seccion2__parrafo2 {
    grid-area: parrafo2; }
  .seccion2__parrafo3 {
    grid-area: parrafo3; }
  .seccion2__img {
    width: 90%;
    grid-area: foto;
    margin: auto; }

.seccion3 {
  margin: 100px 0;
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "parrafo1 foto" "parrafo2 foto" "parrafo3 foto";
  row-gap: 5%; }
  .seccion3__parrafo1 {
    grid-area: parrafo1; }
  .seccion3__parrafo2 {
    grid-area: parrafo2; }
  .seccion3__parrafo3 {
    grid-area: parrafo3; }
  .seccion3__img {
    width: 90%;
    grid-area: foto;
    margin: auto; }

.sumate-button__div {
  text-align: center;
  margin: 150px 0; }

.contact-info {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .contact-info__group {
    display: flex;
    flex-wrap: nowrap;
    margin: 25px;
    align-items: center; }
  .contact-info__text {
    align-self: center;
    margin-left: 15px;
    margin: 0 15px; }
  .contact-info__link {
    align-self: center;
    margin-left: 15px; }
  .contact-info--icons {
    color: #04a498;
    font-size: 60px;
    text-align: center; }

.actividades__first-p {
  margin: 10px 10% 50px 10%; }

.tarjeta-1, .tarjeta-2, .tarjeta-1--subpages {
  margin: 100px 0;
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: "titulo foto" "parrafo1 foto" "parrafo2 foto";
  row-gap: 20px; }
  .tarjeta-1__subtitulo {
    grid-area: titulo;
    align-self: end;
    color: #ee8021; }
  .tarjeta-1__p1 {
    grid-area: parrafo1; }
  .tarjeta-1__p2 {
    grid-area: parrafo2;
    align-self: start;
    justify-self: center;
    padding-top: 25px; }
  .tarjeta-1__img {
    grid-area: foto; }

.tarjeta-2 {
  grid-template-areas: "foto titulo" "foto parrafo1" "foto parrafo2"; }

.tarjeta-1--subpages {
  margin-top: 10px; }

.galeria__titulo {
  color: #ee8021; }

.galeria__div {
  padding: 0 10%;
  margin: 70px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr;
  row-gap: 50px;
  column-gap: 50px; }

.galeria__img {
  width: 90%;
  justify-self: center; }

.page-404 {
  background-color: #f6f8f7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .page-404__text {
    text-align: center;
    margin-top: 150px;
    padding: 0 10%; }
    .page-404__text--h1 {
      margin-bottom: 50px; }
  .page-404__button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; }
  .page-404__logo {
    margin: auto;
    text-align: center; }
    .page-404__logo--img {
      width: 60%; }

/*--------------------------------------------------------------------*/
/*-----------------------------HOMEPAGE-------------------------------*/
/*--------------------------------------------------------------------*/
/*------HEADER-----------*/
@media only screen and (max-width: 1000px) {
  .header__menu {
    margin-left: 20% !important; } }

@media only screen and (min-width: 851px) {
  .header__menu {
    display: block; }
  .navbar {
    display: none; } }

@media only screen and (max-width: 850px) {
  .header__menu {
    display: none; }
  .navbar {
    display: block; }
  .header__logo {
    width: 20%;
    margin-top: 5px;
    padding-bottom: 15px; } }

/*------HERO SECTION-----------*/
@media only screen and (max-width: 1000px) {
  .hero__text--orange {
    font-size: 2rem; } }

@media only screen and (max-width: 650px) {
  .hero {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center; }
    .hero__image {
      align-self: center;
      order: 2;
      margin: auto; }
    .hero__text {
      margin-bottom: 50px;
      margin-top: 40px; }
      .hero__text--orange {
        padding: 0;
        line-height: 60px;
        margin-bottom: 30px;
        margin-top: 50px;
        font-size: 8vw; }
      .hero__text a {
        font-size: 1rem; } }

/*------ACERCA DE SECTION-----------*/
@media only screen and (max-width: 900px) {
  .quienes-somos__flex {
    flex-direction: column; }
    .quienes-somos__flex p {
      margin: 15px auto; }
  .foto-grupal {
    text-align: center;
    margin-top: 20px; } }

/*------NUESTROS VALORES SECTION-----------*/
@media only screen and (max-width: 1500px) {
  .tarjeta {
    margin-top: 50px; } }

@media only screen and (max-width: 750px) {
  .tarjeta--first {
    margin-top: 0px; } }

/*------ACTIVIDADES SECTION-----------*/
@media only screen and (min-width: 751px) {
  .actividades-phone {
    display: none; } }

@media only screen and (max-width: 750px) {
  .actividades {
    display: none; }
  .actividades-phone {
    display: block; } }

/*------VIDEO DESTACADO SECTION-----------*/
@media only screen and (max-width: 1000px) {
  .video-destacado__contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 30px;
    margin-top: 30px; }
  .video-destacado__titulo {
    padding: 0 10%; } }

@media only screen and (max-width: 640px) {
  .video-destacado__contenedor iframe {
    width: auto; } }

/*------CONTACTO SECTION-----------*/
@media only screen and (max-width: 856px) {
  .contacto__h2, .contacto__subtitulo {
    padding: 0 10%;
    margin-bottom: 15px; } }

@media only screen and (max-width: 957px) {
  .contacto__reset {
    margin-top: 10px; } }

@media only screen and (max-width: 500px) {
  .contacto {
    padding: 0 10%;
    margin: 0 20px 40px 0;
    justify-self: center; }
    .contacto__form {
      padding: 0 10%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contacto__form--grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 0 10%;
        justify-content: center; }
    .contacto__input {
      box-sizing: border-box;
      width: 50vw;
      height: 30px; }
      .contacto__input--first {
        margin-top: 10px; }
      .contacto__input--mensaje {
        width: 100%; } }

/*------FOOTER-----------*/
@media only screen and (min-width: 1499px) {
  #footer {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); } }

@media only screen and (max-width: 749px) {
  .div__logo {
    text-align: center; } }

/*----------------------------------------------*/
/*-----------------SUBPAGES-------------------*/
/*----------------------------------------------*/
@media only screen and (max-width: 865px) and (min-width: 635px) {
  .subpage-title {
    margin-top: 50px; } }

/*---------------QUIENES SOMOS--------------------*/
@media only screen and (max-width: 1179px) {
  .seccion1, .seccion2, .seccion3 {
    display: block;
    text-align: center; }
    .seccion1 p, .seccion2 p, .seccion3 p {
      text-align: left; }
    .seccion1 img, .seccion2 img, .seccion3 img {
      margin-top: 25px; } }

/*------PAGINA ACTIVIDADES-----------*/
@media only screen and (max-width: 1150px) {
  .tarjeta-1__img {
    width: 80%; } }

@media only screen and (max-width: 700px) {
  .tarjeta-1, .tarjeta-2, .tarjeta-1--subpages, .tarjeta-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; }
  .tarjeta-1__subtitulo, .tarjeta-1__img, .tarjeta-1__p2 {
    align-self: center; } }
