
.footer {
    padding: 50px 10%;
    background-color:$header-footer-back-color;
    border-top: 2px solid $var-color1;
    @include grid(300px, 1fr);
    row-gap: 25px;
    margin: 0 auto;
    &__logo {
        width: 60%;
        margin-left: 10%;
        justify-self: center;
    }
    &__list {
        text-align: center;
        line-height: 1.5em;
        list-style: none;
    }
    &__item {
        padding: 15px 0;
    }
    &__link {
        text-decoration: none;
        color: $var-color1;
        font-size: 1.3em;
        &:hover {
            color:$acc-color;
        }
    }
}

.contact-button--footer {
    margin: 20px !important;
    text-align: center;
    font-size: 1.3em;
}

.social-media{
    text-align: center;
    &__text {
        margin-bottom: 10px;
    }
    &__links {
        margin: 15px;
    }
}

@each $icon, $color in $social-media {
    .icon--#{$icon} {
        color: $color;
        font-size: 60px;
        text-align: center;
        &:hover {
            transform: scale(1.1,1.1);
        }
    }
}


