.actividades-first-p {
    margin: 10px 10% 50px 10%;
}

.tarjeta-1 {
    margin: 100px 0;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
    "titulo foto"
    "parrafo1 foto"
    "parrafo2 foto";
    row-gap: 20px;
    &-subtitulo {
        grid-area: titulo;
        align-self: end;
        color: $acc-color;
    }
    &-p1 {
        grid-area: parrafo1;
    }
    &-p2 {
        grid-area: parrafo2;
        align-self: start;
        justify-self: center;
        padding-top: 25px;
    }
    &-img {
        grid-area: foto;
    }
}

.tarjeta-2 {
    @extend .tarjeta-1;
    grid-template-areas: 
    "foto titulo"
    "foto parrafo1"
    "foto parrafo2";
}
