.seccion1 {
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "parrafo1 foto"
    "parrafo2 foto";
    row-gap: 5%;
    &-parrafo1 {
        grid-area: parrafo1;
    }
    &-parrafo2 {
        grid-area: parrafo2;
    }
    &-img {
        width: 80%;
        grid-area: foto;
        margin: auto;
    }
    
}


.seccion2 {
    margin: 100px 0;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "foto parrafo1"
    "foto parrafo2"
    "foto parrafo3";
    row-gap: 5%;
    &-parrafo1 {
        grid-area: parrafo1;
    }
    &-parrafo2 {
        grid-area: parrafo2;
    }
    &-parrafo3 {
        grid-area: parrafo3;
    }
    &-img {
        width: 90%;
        grid-area: foto;
        margin: auto;
    }
    
}

.seccion3 {
    margin: 100px 0;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "parrafo1 foto"
    "parrafo2 foto"
    "parrafo3 foto";
    row-gap: 5%;
    &-parrafo1 {
        grid-area: parrafo1;
    }
    &-parrafo2 {
        grid-area: parrafo2;
    }
    &-parrafo3 {
        grid-area: parrafo3;
    }
    &-img {
        width: 90%;
        grid-area: foto;
        margin: auto;
    }
}

