
.tarjeta-1--subpages {
    @extend .tarjeta-1;
    margin-top: 10px;
}

.galeria {
    &__titulo {
        color: $acc-color;
    }
    &__div {
        padding: 0 10%;
        margin: 70px 0;
        @include grid(400px, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 50px;
        column-gap: 50px;
    }
    &__img {
        width: 90%;
        justify-self: center;
    }
}